.hero{
	display:flex;
}
.title{
	border: 0px solid red;
	margin: 25px 30px 20px 50px;
/* 	gap:0px; */
	font-size:8px;
	text-align:center;
	
}
img{
	cover:fit;
}
a{
	background-color: red;
	color: white;
	height: 80px;
	width:100px;
}